{% extends 'groups/group_base.html' %}
{% block pregroup %}
<h1>{{ group.name }}</h1>         <!--This content dictinary comes from this group is the lower case singlelar models Group Class is models.py madhun -->
<h2>Member Count: {{ group.members.count }}</h2>

<div class="content">

  {% if user in group.members.all %}     <!--if the user is happen to be in groups model in array/list-->
     <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="fa fa-times-circle-o"></span> Leave</a>    <!--option to leave group-->
  {% else %}
     	<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-warning"><span class="fa fa-check-circle-o"></span> Join</a>     <!--option to join the group-->
  {% endif %}

</div>

{% endblock %}


{% block group_content %}

<div class="col-md-8">

  {% if group.posts.count  == 0 %}                      <!--if group have no post-->
      <h2>No post in this group yet!</h2>
  {% else %}
      {% for post in group.posts.all %}                <!--if group have post then we include(inject any other html file)-->
         {% include "posts/_post.html" %}
      {% endfor %}
  {% endif %}

</div>

{% endblock %}
